.manaBar {
  text-align: center;
  width: 100%;
}
.actionBoxAction {
  text-align: left;
  width: 25%;
  height: 25%;
  background-color: green;
}
.actionBoxOptions {
  float: right;
  display: inline-block;
}
