.manaBar {
  text-align: center;
  width: 100%;
}
.actionBox {
  float: left;
  background-color: lightgreen;
  display: grid;
  grid: auto/ 50% 50%;
  width: 33%;
}
.actionBoxActions {
  background-color: green;
}
.actionBoxOptions {
  float: right;
  background-color: inherit;
}
.actionBoxProgressList {
}
