img {
  width: 50px;
  height: 50px;
}

.actionIcon {
  width: 16px;
  height: 16px;
}

button:hover tooltip, .button:hover > tooltip {
  display: block;
}

button {
  margin: 5px;
}

tooltip {
  display: none;
  padding: 4px;
  position: absolute;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}

.progressBarEmpty {
  width: 100%;
  height: 5px;
  background-color: lightgrey;
}

.progressBarFill {
  background-color: green;
  height: 100%;
  width: 0%;
}

.progressBarResource:hover tooltip {
  display: block;
}

.progressBarEmpty:hover tooltip {
  display: block;
}

.manaBar {
  text-align: center;
  width: 100%;
}

.column {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.statBox {
  height: 500px;
  width: 250px;
}

.statList {
  width: 100%;
  display: grid;
  grid: 15px 5px 5px / 42% 16% 16% 16%;
  grid-row-gap: 2px;
}

.statBox .progressBarEmpty {
  width: 200px;
  grid-column: 1/5;
}

.characterPage {
  position: absolute;
  width: inherit;
}

.actionBox {
  background-color: lightgreen;
  display: grid;
  grid: auto/ 50% 50%;
  width: 300px;
  height: 800px;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  border-radius: 5px;
}

#actionBoxProgressList div:nth-child(even), #actionBoxActionList div:nth-child(even) {
  background-color: lightgrey;
  border-top: 1px groove;
  border-bottom: 1px groove;
}

.actionBoxActions {
    padding: 2px;
}

.actionBoxOptions {
  float: right;
  background-color: inherit;
}

.actionButton {
  margin-right: 5px;
}

.actionButton:hover {
  cursor: pointer;
  color: blue;
}

.townInfo {
  vertical-align: top;
  width: 600px;
}

.townName {
  display: grid;
  grid: 33% 33% 33% / 30% 40% 30%;
  height: 50px;
  width: 100%;
  text-align: center;
}

.buttonBoxTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.townButtons {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 5px;
}

.townButtons .button {
  height: 100px;
  border: 1px;
  border-style: groove;
  text-align: center;
}

.townProgressBar {
  margin: 10px 0px;
}

.text {
  font-weight: bold;
}
